<!DOCTYPE html>
<html>
	<head>
		<title>TXExpress: Homepage</title>
		<link rel="stylesheet" type="text/css" href="search_results.css" />
	</head>
	<body>
	<div id = "overlay"></div>
		<div id = "left_column">
			<div id = "content">
				<form name = "search" method = "POST" action = "/search">
					<input type = "text" name = "searchBar" placeholder = "Search"/>
					<input type = "hidden" name = "stored_user_name" value = '{{username}}'/>
					<input type = "hidden" name = "user_name" value = '{{user_name}}'/>
					<input type = "hidden" name = "group_chat_or_private_chat" value = "group"/>
				</form>
				<div id = "list_text">
					<h1>Groups</h1>
					<ul class = 'list' id = 'group_list'>
						{{#each group_items}}
							<li class = 'group_item'>
							{{this}}
							</li>
						{{/each }}
					</ul>
					<h1>Individuals</h1>
					<ul class = 'list' id = 'individual_list'>
						{{#each individual_items}}
							<li class = 'individual_item'>
							{{this}}
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div id = "right_column">
			<div id = "logged_name">
				<p>Logged in as: <span id = "unique_name">{{username}}</span></p>
			</div>
			<div id = "search_text"><h1>Search results for: {{search}}</h1></div>
			<div id = "search_results">
				<div id = "search_tabs">
					<input type = "button" name = "gc_complete" id = "gc_done_button" value = "Done"/>
					<ul class="tab">
		  				<li><a href="javascript:void(0)" class="tablinks active" id = "people" onclick="openTab(event, 'people_tab')">People</a></li>
		 			    <li><a href="javascript:void(0)" class="tablinks" id = "conversation" onclick="openTab(event, 'conversation_tab')">Conversations</a></li>
					</ul>
				</div>
				<div id = "hits">
					<div id = "people_tab" class = "tabcontent" style= "display:block">
						<ul id = "search_people_list" class = "search_list">
							{{#each search_items_people}}
								<li id = "search_item_ppl">
		   							 <img id="profile-picture" src="{{picture}}"/>
										<input type = "image" name = "contact_button" id = "contact_button_{{firstName}}" value = "{{firstName}}" src = "add_to_group.png" onclick = "addToGroupChat('{{user_name}}', '{{firstName}}')"/> <!-- TODO: firstNames might be shared, so we need a unique identifier to be placed here-->
									<a href = "javascript:void(0)" onclick = "expandView('{{user_name}}')"><img title = "See More" class = "expand_button" id="expand_button_{{user_name}}" src = "extended_bio.jpg"/></a>
		   							 <div id = "search_content_{{firstName}}" class = "search_content">
										<h3>{{firstName}} {{lastName}}</h3>
										<p>Branch: {{branch}}</p>
										<div id = "mini-bio"><p>Mini-Bio: {{mini_bio}}</p></div>
										<div id = "expandable_content_{{user_name}}" class = "expandable_content">
											<p>More About Me: {{extended_bio}}</p>
											<p>Work Experience 1: {{work_experience_1}}</p>
											<p>Work Experience 2: {{work_experience_2}}</p>
										</div>
									</div>
								</li>
							{{/each}}
							<p>{{result}}</p>
						</ul>
					</div>
					<div id = "conversation_tab" class = "tabcontent">
						<ul id = "search_convo_list" class = "search_list">
							{{#each search_items_convos}}
								<li id = "search_item_con">
								{{this}}
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id = "group_name_pop_up">
			<span id = "prompt_text"><h>Please enter a name for your group chat.</h></span>
			<form id = "gc_name_form" name = "gc_creation" method = "POST" action = "/new_gc">
				<input style = "font-size: 100%" type = "text" name = "gc_name_field" id = "gc_name_field" placeholder = "e.g. Science Dudes"/>
				<input type = "hidden" name = "gc_real_submission_value" id = "gc_real_submission_value" value = ""/>
				<input type = "submit" id = "gc_submit_button" value = "submit"/>
			</form>
		</div>

		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
		var group_chat = [];
		$("#gc_done_button").click(function(event){
			document.getElementById("group_name_pop_up").style.display = "inline";
			document.getElementById("overlay").style.display = "inline";
		})

		$("#gc_name_form").submit(function(e){
			e.preventDefault();
			var chat_person = {name: document.getElementById("gc_name_field").value, user_name: document.getElementById("gc_name_field").value};
			group_chat.push(chat_person);
			group_chat = JSON.stringify(group_chat);
			gc_object = {group_chat: group_chat};
			gc_object = JSON.stringify(gc_object);
			sessionStorage.removeItem('group_chat_array');
			document.getElementById("gc_real_submission_value").value = gc_object;
			this.submit();
			// $.ajax({
			// 		type: 'POST',
			// 		data: {group_chat},
			// 	    // ContentType: 'application/json',
   //                  url: 'http://localhost:3000/new_gc',						
			// });
			// return true;
		})

		// $("#gc_name_field").submit(function(e){
		// 	e.preventDefault();
		// 	group_chat.push(document.getElementById("gc_name_field").value);
		// 	group_chat = JSON.stringify(group_chat);
		// 	sessionStorage.removeItem('group_chat_array');
		// 	document.getElementById("gc_name_field").value = group_chat;
		// 	self.submit();
		// 	// $.ajax({
		// 	// 		type: 'POST',
		// 	// 		data: {group_chat},
		// 	// 	    // ContentType: 'application/json',
  //  //                  url: 'http://localhost:3000/new_gc',						
		// 	// });
		// 	return false;
		// })


		$(document).ready(function() {
			$('input[name=stored_user_name]').val('{{username}}');//TODO: change this so this is user_name based and not firstName based
		   		if(sessionStorage.getItem('group_chat_array')){
					console.log(sessionStorage.getItem('group_chat_array'));
		   			group_chat = JSON.parse(sessionStorage.getItem('group_chat_array'));
		   		}
		   		else{
		   			var person = {name: '{{username}}', user_name: '{{user_name}}'}
		   			group_chat.push(person);
		   			sessionStorage.setItem('group_chat_array', JSON.stringify(group_chat));
		   		}
		});
			function openTab(event, div_name){ //taken from W3school
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for(i = 0; i<tabcontent.length; i++){
					tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for(i=0; i<tablinks.length; i++){
					tablinks[i].className = tablinks[i].className.replace("active", "");
				}
				document.getElementById(div_name).style.display = "block";
				evt.currentTarget.className += "active";
			};
			function expandView(u_name){
				let expanded_div = document.getElementById("expandable_content_"+u_name);
				if(expanded_div.style.display != "inline"){
					expanded_div.style.display = "inline";
					document.getElementById("expand_button_"+u_name).title = "See Less";
				}
				else{
					expanded_div.style.display = "none";
					document.getElementById("expand_button_"+u_name).title = "See More";
				}
			}
			function addToGroupChat(user_name, name){
				var person = {name: name, user_name: user_name};
				group_chat.push(person);
				console.log(group_chat);
				sessionStorage.setItem('group_chat_array', JSON.stringify(group_chat));
				document.getElementById("gc_done_button").style.display = "inline";
			}

		</script>
	</body>
</html>